.post-card{
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    transition: transform 100ms ease-in-out;
    animation: spin 0.5s linear;
  }
  
  @keyframes spin {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(5px, -5px);
    }
    60% {
      transform: translate(-5px, -5px);
    }
    80% {
      transform: translate(5px, 5px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .post-card:hover{
    transform: scale(1.05);
  }
  
  .post-card img{
    max-width: 100%;
  }
  
  .post-card-content{
    padding: 30px;
  }