.post-card {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
  transition: transform 100ms ease-in-out;
  animation: bug 0.5s linear;
}

@keyframes bug {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-5px, 5px);
  }

  40% {
    transform: translate(5px, -5px);
  }

  60% {
    transform: translate(-5px, -5px);
  }

  80% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0);
  }
}

.single-post .post-card:hover {
  transform: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
}

.post-card:hover {
  transform: scale(1.05);
  box-shadow: -9px 9px 10px rgba(0, 0, 0, 0.637);
}

.post-card img {
  max-width: 100%;
}

.post-card-content {
  padding: 30px;
}
